/* General */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  text-align: center;
}

h1,
p {
  margin-top: 0;
}

.hidden {
  display: none;
}

/* colors */

:root {
  /* primary */
--desaturated-red: hsl(0, 36%, 70%);
--soft-red: hsl(0, 93%, 68%);
/* neutral */
--grayish-red: hsl(0, 6%, 24%);
}

/* ### Gradients */
/* - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */

/* Typography */

h1,
.body-copy {
  margin-bottom: 25px;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: .25em;
}

span {
  font-weight: 300;
}

input {
  text-transform: capitalize;
}

.accent-txt {
  color: var(--desaturated-red);
}

.call-to-action {
  padding: 1.5em;
}

.body-copy,
input[type='email'] {
  font-size: .95rem;
}

.body-copy {
  line-height: 1.65;
}

.email-invalid-msg {
  color: var(--soft-red);
  font-size: .75em;
  text-align: left;
  margin-left: 26.5px;
}

/* Layout */

.container {
  display: flex;
  flex-direction: column-reverse;
  width: 375px;
  margin: 0 auto;
}

.container-email {
  flex-direction: row;
  margin-right: 5px;
  margin-bottom: .5em;
  max-width: 312px;
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* @-layout media-queries */
/* @media (min-width: 655px) {
  .container {
    flex-direction: row;
  }
} */

/* form elements & buttons */
input {
  font-size: 1em;
  text-transform: lowercase;
  width: 100%;
  padding: 1em;
  padding-left: 2em;
  border: 1px solid var(--desaturated-red);
  border-radius: 50% 60% 60% 50% / 250%;
}

/* ! https://stackoverflow.com/questions/34799526/style-an-asptextbox-placeholder-with-css */
input:placeholder-shown {
  text-transform: capitalize;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  color: white;
  width: 75px;
  margin-left: -65px;
}

.btn-submit {
  display: grid;
  place-items: center;
  width: 75px;
  height: 53px;
  border-radius: 26.5px;
  /* ! https://www.w3schools.com/csSref/func_linear-gradient.asp */
  background-image: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.btn-submit:hover {
  background-image: linear-gradient(135deg,hsl(0, 0%, 100%), hsl(0, 74%, 74%));
}

.hover-cursor:hover {
  cursor: pointer;
}

.submit-arrow {
  background-image: url(./images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 15px;
}

/* images */

.img {
  background-repeat: no-repeat;
}

.img-logo {
  background-image: url(./images/logo.svg);
  background-size: contain;
  width: 125px;
  height: 25px;
  margin: 35px;
  margin: 2em;
}

.img-hip-lady {
  /* mobile width: 375px */
  /* desktop width: 610px */
  background-image: url(./images/hero-mobile.jpg);
  background-size: cover;
  width: 100%;
  height: 275px;
  margin-bottom: 2em;
}

/* ! duplicate rule --- TEMP ONLY!!! */
.img-hip-lady {
  /* mobile width: 375px */
  /* desktop width: 610px */
  background-image: url(./images/hero-mobile.jpg);
  background-size: contain;
  background-position: center;
  width: 375px;
  height: 275px;
  margin-bottom: 2em;
}

.email-error-icon {
  position: relative;
  background-image: url('./images/icon-error.svg');
  top: 14.75px;
  right: 100px;
  width: 30px;
  height: 25px;
  margin: 0;
}

.arrow {
  background-image: url(./images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
  height: 25px;
  width: 25px;
}