/* General */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  text-align: center;
}


/* colors */

:root {
  /* primary */
--desaturated-red: hsl(0, 36%, 70%);
--soft-red: hsl(0, 93%, 68%);
/* neutral */
--grayish-red: hsl(0, 6%, 24%);
}

/* ### Gradients */
/* - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */

/* Typography */

h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: .25em;
}

span {
  font-weight: 300;
}

input {
  text-transform: capitalize;
}

.accent-txt {
  color: var(--desaturated-red);
}

.call-to-action {
  padding: 2em;
}

/* Layout */

.container {
  display: flex;
  flex-direction: column-reverse;
}

.container-email {
  flex-direction: row;
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* @-layout media-queries */
/* @media (min-width: 500px) {
  .container {
    flex-direction: row;
  }
} */


/* images */

.img {
  background-repeat: no-repeat;
}

.img-logo {
  background-image: url(./images/logo.svg);
  background-size: contain;
  width: 125px;
  height: 25px;
  margin: 35px;
  margin: 2em;
}

.img-hip-lady {
  background-image: url(./images/hero-mobile.jpg);
  background-size: cover;
  width: 100%;
  height: 275px;
  margin-bottom: 2em;
}