/* General */

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  padding: 1em;
  background-color: var(--soft-violet);
}


/* colors */
:root {
  /* background-gradient */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  /* type */
  --very-dark-blue: hsl(237, 12%, 33%);
  --dark-blue: hsl(240, 6%, 50%);
  /* dividers */
  --very-light-blue: hsl(240, 5%, 91%);
}

/* Typography */

h1 {
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
}

p {
  line-height: 1.5;
  margin-top: 0;
}

.question {
  margin-bottom: 1.5em;
}

.active {
  font-weight: 700;
}

/* Layout */

.card-container {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  margin-top: 8em;
  padding: 25px;
  padding-bottom: 30px;
  border-radius: 25px;
}

.img {
  background-image: url(./images/illustration-woman-online-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 225px;
  height: 225px;
}

.container-q-a {
  border-bottom: 1px solid var(--very-light-blue);
  margin-bottom: 1.5em;
}

.container-question {
  display: flex;
  justify-content: space-between;
}

.container-question:hover {
  cursor: pointer;
}

.question,
.arrow {
  display: inline-block;
}

.arrow {
  background-image: url(./images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  width: 1em;
  height: 1em;
}

.answer {
  margin-bottom: 1.5em;
}

.hidden {
  display: none;
}

/* Media Queries */