/* General */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

/* colors */

/* 
### Primary

- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

### Neutral

- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)
*/
:root {
  /* primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

    /* neutral */
    --dark-blue: hsl(234, 12%, 34%);
    --gray-blue: hsl(229, 6%, 66%);
    --light-gray: hsl(0, 0%, 98%);
}



/* (neutral) */

/* Typography */

h1,
h2,
h3 {
  color: var(--dark-blue);
}

h1 {
  font-weight: 200;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
}

p {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-blue);
}

.tagline {
  font-size: 15px;
}

/* Layout */

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* images */

.icon {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  width: 4em;
  height: 4em;
}

.icon-supervisor {
  background-image: url(./images/icon-supervisor.svg);
}

.icon-teambuilder {
  background-image: url(./images/icon-team-builder.svg);
}

.icon-karma {
  background-image: url(./images/icon-karma.svg);
}

.icon-calculator {
  background-image: url(./images/icon-calculator.svg);
}