/* General */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  text-align: center;
  color: var(--dark-magenta);
  padding: .75em;
}

h1,
p {
  margin-top: 0;
}

/* colors */
:root {
  /* primary */
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* neutral */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

/* Typography */

.description,
.review {
  line-height: 1.75;
}

.description {
  margin-bottom: 3em;
}

.rating,
.name {
  font-weight: 700;
}

.card {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.verified {
  color: var(--soft-pink);
  margin-bottom: 0;
}

.bio {
  display: flex;
  flex-direction: column;
}

.name {
  margin-bottom: .25em;
}

.review {
  /* font-size: 14px; */
}

/* Layout */

.container {
  display: flex;
  flex-direction: column;
}

.container-main {
  max-width: 326.5px;
  margin: 0 auto;
}

/* .container-ratings, */
.rating,
.container-reviews,
.card {
  margin: 0 auto;
}

.rating {
  width: 326.5px;
}

.container-bio {
  flex-direction: row;
  align-items: center;
  margin-bottom: 2em;
}

.rating,
.card {
  border-radius: .5em;
}

.rating {
  background-color: var(--light-grayish-magenta);
  /* ! save for media-query */
  /* max-width: 525px; */
  /* max-width: 405px; */
  margin-bottom: 1.5em;
  padding: 1em;
}

.rated {
  margin-bottom: 0;
}

.container-reviews {
  color: var(--white);
}

.card {
  background-color: var(--dark-magenta);
  max-width: 405px;
  padding: 1.75em;
  margin-bottom: 1.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* images */
.stars {
  margin-bottom: 1em;
}

.star {
  display: inline-block;
  background-image: url(./images/icon-star.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: 20px;
  height: 20px;
  margin-right: .5em;
}

.star:nth-child(5) {
  margin-right: 0;
}

.profile-pic {
  background-repeat: no-repeat;
  background-size: contain;
  width: 45px;
  height: 45px;
  margin-right: 1.5em;
  border-radius: 100%;
}

.profile-pic-colton-smith {
  background-image: url(./images/image-colton.jpg);
}

.profile-pic-irene-roberts {
  background-image: url(./images/image-irene.jpg);
}

.profile-pic-anne-wallace {
  background-image: url(./images/image-anne.jpg);
}