/* General */

html {
    font-size: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-weight: 400; */
    color: white;
    text-align: center;
    padding: 1em;
    background-color: blue;
}

/* reset margins */
h1,
p {
    margin-top: 0;
}

/* colors */
:root {
    --accent: hsl(0, 100%, 74%); 
    --button: hsl(154, 59%, 51%);
}

/* Typography */

h1 {
    font-size: 1.75rem;
    font-weight: 600;
}

input::placeholder {
    font-weight: 500;
    text-transform: capitalize;
    color: #727274;
}

.bold-txt {
    font-weight: 700;
}

.accent {
    color: var(--accent);
}

.fine-print {
    font-size: .75rem;
    color: #bab9bf;
}

/* Layout */




.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* form elems. & buttons */



/* images */