/* General */

body {
  font-family: sans-serif;
  font-size: 13px;
  background-color: var(--light-grayish-blue);
  color: var(--dark-grayish-blue);
}

/* reset margins */
h3,
p {
  margin-top: 0;
}

/* colors */

:root {
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

/* Typography */

h3 {
  line-height: 1.75;
}

.description {
  line-height: 1.75;
}

.description {
  color: var(--desaturated-dark-blue);
  margin-bottom: 3em;
}

.name {
  font-weight: 700;
  margin-bottom: .25em;
}

.date {
  color: var(--grayish-blue);
}

/* Layout */
h3,
p {
  margin-left: 3em;
  margin-right: 3em;
  padding: 0;
}

h3 {
  margin-top: 3em;
  margin-left: 2.65em;
}

.container {
  background-color: white;
  width: 362px;
  margin: 100px auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 900px) {
  @media (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 740px;
    border-top-right-radius: 10px;
  }
}

.footer,
.article-info {
  display: flex;
  justify-content: space-between;
}

.footer {
  height: 100%;
  align-items: center;
  padding: 0 3em 2em 3em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 900px) {
  .btn-share {
    width: 1.5em;
    height: 1.5em;
  }

  .footer {
    border-bottom-left-radius: 0;
  }

  .footer-initial {
    margin-top: -15px;
    padding-bottom: 3px; 
  }
}

.footer-active {
  box-sizing: border-box;
  height: 58.5px;
  flex-direction: row;
  color: white;
  padding-top: 25px;
  background-color: var(--dark-grayish-blue);
}

.share-txt {
  font-size: 1.15em;
  font-weight: 200;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-right: 4px;
  margin-bottom: 44px;
  margin-left: 0;
}

.article-info {
  width: 190px;
  align-items: center;
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* images */
.img {
  background-repeat: no-repeat;
  background-size: contain;
}

.background-bleed {
  background-color: var(--light-grayish-blue);
  width: 100%;
  height: 230px;
}

.img-header {
  background-color: var(--light-grayish-blue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: url(./images/drawers.jpg);
  background-size: cover;
  /* TODO --- Research background-position and get to match design more perfectly */
  background-position: bottom top;
  width: 100%;
  height: 100%;
}

@media (min-width: 900px) {
  .background-bleed {
    height: 329.267px;
    width: 100%;
  }

  .img-header {
    width: 340px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
}

.profile-pic {
  background-image: url(./images/avatar-michelle.jpg);
  width: 3.25em;
  height: 3.25em;
  border-radius: 100%;
}

/* buttons */
.btn-container {
  display: grid;
  place-items: center;
  background-color: var(--light-grayish-blue);
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
}

.btn-container-active {
  background-color: var(--desaturated-dark-blue);
  margin-left: 2.25em;
}

.btn-share {
  background-image: url(./images/icon-share.svg);
  width: 1.25em;
  height: 1.25em;
}

.btn-share-light {
  background-color: var(--light-grayish-blue);
}

.btn-share-active {
  background-image: url(./images/icon-share-active.svg);
}

.btn-container:hover {
  cursor: pointer;
}

.icon:hover {
  cursor: pointer;
}

.icon-facebook {
  background-image: url(./images/icon-facebook.svg);
  width: 2.5em;
  height: 1.75em;
}

.icon-twitter {
  background-image: url(./images/icon-twitter.svg);
  width: 2.5em;
  height: 1.75em;
}

.icon-pinterest {
  background-image: url(./images/icon-pinterest.svg);
  width: 2.5em;
  height: 1.75em;
}

.hidden {
  display: none;
}