/*   General   */
body {
  font-size: 15px;
}

body,
.btn {
  background-color: hsl(0, 0%, 95%);
}

h2, p {
  margin-top: 0;
}

/*   Typography   */

h2
 {
  color: hsl(0, 0%, 95%);
}

h2 {
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
}

p:nth-child(3) {
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
}

.btn-accent-type-sedan {
  color: hsl(31, 77%, 52%);

}
.btn-accent-type-suv {
  color: hsl(184, 100%, 22%);

}
.btn-accent-type-luxury {
  color: hsl(179, 100%, 13%);

}

.btn {
  text-transform: capitalize;
}

/*   Layout   */

.card {
  max-width: 315px;
  height: 509.67px;
  margin: 0 1em 0 1em;
  padding: 1em;
}

.card-sedan {
  background-color: hsl(31, 77%, 52%);
}

.card-suv {
  background-color: hsl(184, 100%, 22%);
}

.card-luxury {
  background-color: hsl(179, 100%, 13%);
}

.btn {
  display: flex;
  justify-content: center;
  width: 125px;
  height: 45px;
  border-radius: 45px;
}

.btn p {
  padding-top: 11.5px;
}